.Rproj.user
.Rhistory
.RData
.DS_Store
*/**/.DS_Store
.Rprofile

# Ignore raw data
100_data_raw/*
200_data_clean/*

# ignore renv files
renv/

# ignore freeze cache
_freeze

# Ignore secrets
# DO NOT change this
secrets/*
